@import url('../../components/layout/GlobalStyle.css');

.div_projects h3 {
    font-size: 1.8em;
}

.div_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div_projects img {
    width: 13em;
    height: 13em;
}

.div_projects p {
    width: 12em;
    height: 7em;
    text-align: justify;
}

.project {
    margin: 0.5em;
    padding: 1em;

    box-shadow: 0px 4px 4px var(--color-white);
}

.project:hover {
    box-shadow: 0px 4px 4px var(--color-primary-trans);
}

.project .iconspan {
    margin: 0 0.2em;
    padding: 0;
    font-size: 1em;
}


.project a {
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-secondary);
    padding: 0 0.5em;
    border-radius: 1em;
    transition: 0.4s;
    box-shadow: 0px 0px 10px var(--color-white-trans),
        0px 0px 20px var(--color-white-trans);
}

.project a:hover {
    color: var(--color-primary-trans);

    box-shadow: 0px 0px 10px var(--color-primary-trans-trans),
        0px 0px 20px var(--color-primary-trans-trans);
}

.divbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em;
}


@media only screen and (max-width: 1170px) {}


@media only screen and (max-width: 750px) {
    .project {
        margin: 0.5em;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project h3 {
        font-size: 1.5em;
    }

    .div_projects p {
        width: auto;
        height: auto;
        margin-bottom: 0.5em;
    }

    .div_projects {
        justify-content: center;
    }

    .div_projects img {
        width: 11em;
        height: 11em;
    }

    .divbtn {
        flex-direction: column;
        margin: 0.5em;
    }
}