@import url('../layout/GlobalStyle.css');

.section_skill {
    /* background-color: rgba(255, 0, 0, 0.37); */
    width: 100%;
    height: fit-content;
}

.section_skill label {
    font-size: x-large;
}

.main_div_skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main_div_skill div {
    margin: 0 0.5em;
    margin-bottom: 0.8em;
}

.skill_block {
    width: 16em;
    height: 0.4em;
    position: relative;
    display: -webkit-flex;
    display: -moz-fex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}


.span_shadown {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    position: absolute;
    border-radius: 10px;
}

.span_lvl {
    content: "";
    width: 80%;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    transition: 0.5s;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px var(--color-primary-trans),
        0px 0px 20px var(--color-primary-trans),
        0px 0px 30px var(--color-primary-trans); */
}

.span_lvl:hover {
    background-color: var(--color-thirdy-trans);
    box-shadow: 0px 0px 10px var(--color-thirdy-trans),
        0px 0px 20px var(--color-thirdy-trans),
        0px 0px 30px var(--color-thirdy-trans);
}

@media only screen and (max-width: 300px) {
    .skill_block {
        width: 10em;
        height: 0.4em;
    }
}