@import url('../layout/GlobalStyle.css');

.verti_timel {
    color: var(--color-secondary);

}

.sectionTL svg {
    color: var(--color-black1);
}

.verti_timel_ele h3 {
    font-size: 2em;
    padding: 0.1em;
    margin: 0.1em;
}

.verti_timel_ele h5,
.pTime {
    font-size: 1em;
    padding: 0.1em;
    margin: 0.1em;

    text-align: justify;
}

.verti_timel_ele .date {
    color: var(--color-white);
    font-size: 1.8em;

    text-align: justify;
}


@media only screen and (max-width: 1170px) {
    .verti_timel_ele .date {
        color: var(--color-secondary);
    }
}


@media only screen and (max-width: 750px) {
    .verti_timel_ele h3 {
        font-size: 1.6em;
    }

    .verti_timel_ele h5,
    .pTime {
        font-size: 1em;
        padding: 0.1em;
        margin: 0.1em;
    }

    .verti_timel_ele .date {
        font-size: 1em;
    }
}