@import url('../../components/layout/GlobalStyle.css');

.main img {
    margin: 1.5em;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background-color: var(--color-white-trans);
    box-shadow: 0px 0px 10px var(--color-thirdy-trans),
        0px 0px 20px var(--color-thirdy-trans),
        0px 0px 30px var(--color-thirdy-trans),
        0px 0px 40px var(--color-thirdy-trans),
        0px 0px 50px var(--color-thirdy-trans);
    transition: 0.5s;
}

.main img:hover {
    box-shadow: 0px 0px 10px var(--color-primary-trans),
        0px 0px 20px var(--color-primary-trans),
        0px 0px 30px var(--color-primary-trans),
        0px 0px 40px var(--color-primary-trans),
        0px 0px 50px var(--color-primary-trans);
}

@media only screen and (width <=1069px) {
    .main img {
        width: 15em;
        height: 15em;
    }
}


@media only screen and (width <=750px) {
    .main img {
        flex-direction: column-reverse;
        width: 12em;
        height: 12em;
    }
}