@import url('../layout/GlobalStyle.css');

.footer {
    background-color: var(--color-secondary);
    padding: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;    
    color: var(--color-white);
    cursor: default;
    z-index: 1;
}

footer .copy_right_span {
    color: var(--color-primary);
}